/* andreas09 v1.0 (Dec 10th 2005) - An open source template by Andreas Viklund - http://andreasviklund.com. Free to use for any purpose as long as the proper credits are given to the original author. */

body {
background:#8b8b8b;
color:#303030;
font:76% Verdana,Tahoma,Arial,sans-serif;
margin:0;
padding:0;
text-align:center;
}

a {
color:#505050;
font-weight:bold;
text-decoration:none;
}

a:hover {
color:#808080;
text-decoration:underline;
}

/*** Main container ***/

#container {
background:#f0f0f0 url(img/bodybg.jpg) repeat-x;
color:#303030;
margin:0;
min-width:770px;
padding:0;
text-align:left;
width:100%;
}

/*** Header section ***/

#logo {
  float: left;
}

#sitename {
color:#ffffff;
height:92px;
margin:0 20px 10px;
text-align:left;
}

#sitename h1,#sitename h2 {
font-weight:400;
letter-spacing:-2px;
margin:0;
padding:0;
}

#sitename a {
	font-weight: normal;
	color: #FFFFFF;
}

#sitename h1 {
font-size:2.4em;
padding-top:20px;
}

#sitename h2 {
font-size:1.6em;
}

/*** Horizontal menu ***/

#mainmenu {
float:left;
margin-bottom:25px;
}

#mainmenu ul {
font-size:16px;
margin:0;
padding:0;
}

#mainmenu li {
float:left;
height:35px;
list-style:none;
margin:0;
padding:0;
}

#mainmenu a {
border-right:1px solid #b0b0b0;
color:#606060;
display:block;
font-size:0.7em;
padding:11px 10px 10px;
text-transform:uppercase;
}

/*** Content wrap ***/

#wrap {
clear:both;
font-size:0.9em;
padding:0;
}

/*** Sidebars ***/

#leftside,#rightside {
margin:0;
padding:0 10px 10px;
width:165px;
}

#leftside {
float:left;
margin-right:10px;
}

#rightside {
float:right;
margin-left:10px;
}

#leftside h1,#rightside h1 {
color:#505050;
font-size:1.6em;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 3px;
}

#leftside h2,#rightside h2 {
font-size:1.1em;
margin:0 0 20px;
}

#leftside p,#rightside p {
font-size:0.9em;
line-height:1.4em;
margin:0 0 16px 10px;
}

/*** Mission ***/
#mission {
background-color:#a0c9e4;
border:1px dotted #909090;
color:#2a2a2a;
padding:20px;
margin: 0 200px;
}


/*** Content ***/

#content {
background-color:#fafcff;
border:1px solid #909090;
color:#2a2a2a;
padding:20px 20px 5px;
margin:0 200px;
line-height: 1.5em;
}

#content h1, #content h2 {
background-color:inherit;
color:#606060;
font-size:1.8em;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 .5em 0;
padding:0;
}

#content h2 {
font-size:1.6em;
margin-bottom:10px;
}

#content h3 {
	padding: 0;
	margin: 0;
}

/* removed - causes issues with TinyMCE */
/* #content img {*/
/*  border:1px solid #b0b0b0;*/
/*  float:left;*/
/*  margin:5px 15px 6px;*/
/*  padding:5px;*/
/* } */

.links ul, .links li {
font-size: .95em;
display: inline;
}

.links li {
	padding: 0 15px 0 0;
}

.links {
	text-align: right;
}

.submitted {
	padding: 0px 30px 0 0;
	font-size: .9em;
}

.postinfo {
	background-color: #EDEDED;
	padding: 0px 6px 0px 2px;
	font-size: .9em;
	text-align: right;
	margin-top: 10px;
	border: 1px solid #CCCCCC;
}

.postinfo ul, .postinfo li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

.postinfo li {
	padding: 0 15px 0 0;
}

.postinfo ul li:before {
	content: url("img/square-black.gif");
	padding-right: 3px;
}

#content .feed-icon {
	display: none;
}

.node {
	margin-bottom: 30px;
}

.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

.block {
	margin-bottom: 25px;
}

/*** Footer ***/

#footer {
background:#8b8b8b url(img/footerbg.jpg) top left repeat-x;
clear:both;
color:#d0d0d0;
font-size:0.9em;
font-weight:bold;
margin:0;
padding:20px 0;
text-align:center;
width:100%;
}

#footer a {
color:#d0d0d0;
font-weight:bold;
}

/*** Various classes ***/

.clearingdiv {
clear:both;
height:30px;
width:1px;
}

.hide {display:none;}

/*** drupal.css fixes ***/
.profile {
	clear: none;
}

.node-form .standard {
	clear: none;
}

.poll .bar .foreground {
  clear: none;
}

/*** Text format ***/

.intro {
font-size:1.1em;
font-weight:bold;
letter-spacing:-1px;
}

.small {font-size:0.8em;}
.large {font-size:1.4em;}
.center {text-align:center;}
.right {text-align:right;}


/*** Additions ***/
.node {
	padding-bottom: 10px;
}

/*** FORM fix ***/
form {
  width: 99%;
}

/*** End of file ***/